@font-face {
    font-family: IRANSans;
    src: url('../../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff');
}

*:not(.datepicker-container, .datepicker-persian, .plotId, .datepicker-navigator, .pwt-btn, .datepicker-grid-view, .table-days) {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

@media (min-width: 1200px) {
    #main-wrapper[data-layout=vertical][data-sidebartype=full] .body-wrapper {
        margin-right: 270px !important;
        margin-left: 0 !important;
    }
}

.dropdown-menu-end[data-bs-popper] {
    right: auto !important;
    left: 0 !important;
}

.left-sidebar {
    /*width: 270px;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*-webkit-transition: 0.2s ease-in;*/
    /*transition: 0.2s ease-in;*/
    /*height: 100%;*/
    z-index: 20;
    border-left: 1px solid rgb(229, 234, 239);
}

#main-wrapper[data-layout=vertical][data-sidebartype=full].show-sidebar .left-sidebar, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar].show-sidebar .left-sidebar {
    right: 0 !important;
}

@media (max-width: 1199px) {
    #main-wrapper[data-layout=vertical][data-sidebartype=full] .left-sidebar, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar {
        right: -270px !important;
    }
}

/* toast wrapper */
.toast-wrapper {
    position: fixed;
    z-index: 9999;
    top: 3rem;
    left: 0;
    width: 26rem;
    max-width: 80%;
    padding: 2rem;
}

.max-width-20-rem {
    max-width: 20rem !important;
}

.max-width-16-rem {
    max-width: 16rem !important;
}
